//! **************************************************************************
// Written by: Map P.49d on Thu Dec 12 08:26:58 2013
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_DATA<0>" LOCATE = SITE "F6" LEVEL 1;
COMP "LCD_DATA<1>" LOCATE = SITE "D3" LEVEL 1;
COMP "LCD_DATA<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "LCD_DATA<3>" LOCATE = SITE "G6" LEVEL 1;
COMP "LCD_DATA<4>" LOCATE = SITE "H7" LEVEL 1;
COMP "LCD_DATA<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "LCD_DATA<6>" LOCATE = SITE "D2" LEVEL 1;
COMP "LCD_DATA<7>" LOCATE = SITE "F3" LEVEL 1;
COMP "SYS_CLK" LOCATE = SITE "R10" LEVEL 1;
COMP "TR_PORT1" LOCATE = SITE "U10" LEVEL 1;
COMP "TR_PORT2" LOCATE = SITE "V11" LEVEL 1;
COMP "LCD_DI" LOCATE = SITE "C1" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "C2" LEVEL 1;
COMP "LCD_ENABLE" LOCATE = SITE "F5" LEVEL 1;
COMP "KEY4X4_col<0>" LOCATE = SITE "H1" LEVEL 1;
COMP "KEY4X4_col<1>" LOCATE = SITE "H2" LEVEL 1;
COMP "KEY4X4_col<2>" LOCATE = SITE "J1" LEVEL 1;
COMP "KEY4X4_col<3>" LOCATE = SITE "J3" LEVEL 1;
COMP "KEY4X4_row<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "KEY4X4_row<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "KEY4X4_row<2>" LOCATE = SITE "K1" LEVEL 1;
COMP "KEY4X4_row<3>" LOCATE = SITE "K2" LEVEL 1;
COMP "LCD_RSTN" LOCATE = SITE "E3" LEVEL 1;
COMP "RECV_PORT1" LOCATE = SITE "U13" LEVEL 1;
COMP "RECV_PORT2" LOCATE = SITE "T14" LEVEL 1;
COMP "LCD_CS1" LOCATE = SITE "F4" LEVEL 1;
COMP "LCD_CS2" LOCATE = SITE "E1" LEVEL 1;
COMP "LINK_CLK" LOCATE = SITE "T8" LEVEL 1;
SCHEMATIC END;

