#NET "LED[0]" LOC = K4;
#NET "LED[1]" LOC = K3;
#NET "LED[2]" LOC = L5;
#NET "LED[3]" LOC = K5;
#NET "LED[4]" LOC = H4;
#NET "LED[5]" LOC = H3;
#NET "LED[6]" LOC = L7;
#NET "LED[7]" LOC = K6;
#NET "LED[8]" LOC = G3;
#NET "LED[9]" LOC = G1;
#NET "LED[10]" LOC = J7;
#NET "LED[11]" LOC = J6;
#NET "LED[12]" LOC = F2;
#NET "LED[13]" LOC = F1;
#NET "LED[14]" LOC = H6;
#NET "LED[15]" LOC = H5;

NET "SYS_CLK" LOC = R10;
NET "LINK_CLK" LOC = T8;
NET "TR_PORT1" LOC = U10;
NET "TR_PORT2" LOC = V11;
NET "RECV_PORT1" LOC = U13;
NET "RECV_PORT2" LOC = T14;

#NET "PB[0]" LOC = N3;
#NET "PB[1]" LOC = P4;
#NET "PB[2]" LOC = P3;
#NET "PB[3]" LOC = L6;
#NET "PB[4]" LOC = M5;
#NET "PB[5]" LOC = U2;
#NET "PB[6]" LOC = U1;
#NET "PB[7]" LOC = T2;

NET "LCD_DATA[0]" LOC = F6;
NET "LCD_DATA[1]" LOC = D3;
NET "LCD_DATA[2]" LOC = E4;
NET "LCD_DATA[3]" LOC = G6;
NET "LCD_DATA[4]" LOC = H7;
NET "LCD_DATA[5]" LOC = D1;
NET "LCD_DATA[6]" LOC = D2;
NET "LCD_DATA[7]" LOC = F3;
NET "LCD_RSTN" LOC = E3;
NET "LCD_CS1" LOC = F4;
NET "LCD_CS2" LOC = E1;
NET "LCD_ENABLE" LOC = F5;
NET "LCD_RW" LOC = C2;
NET "LCD_DI" LOC = C1;

NET "KEY4X4_row[0]" LOC = L3;
NET "KEY4X4_row[1]" LOC = L4;
NET "KEY4X4_row[2]" LOC = K1;
NET "KEY4X4_row[3]" LOC = K2;
NET "KEY4X4_col[0]" LOC = H1;
NET "KEY4X4_col[1]" LOC = H2;
NET "KEY4X4_col[2]" LOC = J1;
NET "KEY4X4_col[3]" LOC = J3;